extends layout

block content

    h1 #{title}
    h3 Welcome #{user}!
    p You have administrator privileges.

    h3 Current users in the system
    table(style='width:60%', border='1')
        tr
            th User ID
            th Name
            th View Account
            th Delete Account
        each user in allUsers
            if (user.admin === false)
                tr
                    td #{user.userID}
                    td #{user.givenName}
                    td
                        a(href='/user/' + user.userID) #{user.userID}

                    td
                        form(action='/users/delete/'+user.userID, method='post')
                            input(type='submit', value='Delete')

    h3 Add new user to system
    p Note: UserID must be unique
    form(action='/users/create_user/' method='post')
        label(for='userID') Enter UserID:
        input#userID(type='text' name='userID' value='userID here')
        label(for='givenName') Enter name:
        input#givenName(type='text' name='givenName' value='Default')
        | Admin User?
        select(name='admin')
            option(value='true') Yes
            option(value='false') No
        input(type='submit' value='OK')
