extends layout

block content
  h1= title
  //p Welcome to #{title}
  p #{message}
  //p(style='white-space:pre;')
    //| bonus message #{bonus}
  //a.foo_link(href='/users', target='_blank') Users
  p  #{instructions}
  ul
    each user in users
      a(href='/users/' + user) #{user}
      br