extends layout

block content

    h1 #{title}
    h3 Welcome #{user}!
    if purchases.length === 0
        p This user has no purchases recorded
    else
        each category in categories
            h2 #{category}

            table(style='width:60%', border='1')
                tr
                    th Amount
                    th Description
                    th Date
                each purchase in purchases
                    if (category === purchase.category)
                        tr
                            -
                                let date = purchase.date;
                                date = date.substr(0,10)
                            td  $ #{purchase.cost}
                            td #{purchase.description}
                            td #{date}
