extends layout

block content

    h1 #{title}
    h3 Welcome #{user}!
    a(href='/user/summary/'+user) #{'summary'}
    br
    h4 To upload a new purchase please fill out the below form

    form(action="/purchases/upload", method='POST')
        input(type='hidden', name='userID', value=user)
        |  category:
        select(name='category')
            each category in categoryList
                option(value=category) #{category}
        |  cost:
        input(type='number', name='cost', step='0.01')
        |  date:
        input(type='date', name='date')
        |  description:
        input(type='text' name='description')
        input(type='submit', value='upload')


    if (updateData!=0)
        h4 To update a purchase, please correct the relevant fields and hit update.
        form(action="/purchases/updateSubmission", method='POST')
            input(type='hidden', name='_id', value=updateData._id)
            input(type='hidden', name='userID', value=updateData.userID)
            |  category:
            select(name='category')
                each category in categoryList
                    if (category === updateData.category)
                        option(selected='') #{category}
                    else
                        option(value=category) #{category}
            |  cost:
            input(type='number', name='cost', step='0.01', value=updateData.cost)
            |  date:
            input(type='date', name='date', value=updateData.date)
            |  description:
            input(type='text' name='description', value=updateData.description)
            input(type='submit', value='update')

    if purchases.length === 0
        p This user has no purchases recorded
    else
        each category in categories
            h2 #{category}

            table(style='width:60%', border='1')
                tr
                    th Amount
                    th Description
                    th Date
                each purchase in purchases
                    if (category === purchase.category)
                        tr
                            -
                                let date = purchase.date;
                                date = date.substr(0,10)
                            td  $ #{purchase.cost}
                            td #{purchase.description}
                            td #{date}
                            td
                                form(action="/purchases/updateRequest", method='POST')
                                    input(type='hidden', name='_id', value=purchase._id)
                                    input(type='hidden', name='userID', value=user)
                                    input(type='hidden', name='category', value=purchase.category)
                                    input(type='hidden', name='cost', value=purchase.cost)
                                    input(type='hidden', name='date', value=purchase.date)
                                    input(type='hidden', name='description', value=purchase.description)
                                    input(type='submit', value='update')