extends layout

block content

    h1 #{title}
    h3 Welcome #{user}!
    h4 To upload a new purchase please fill out the below form

    form(action="/purchases/upload", method='POST')
        input(type='hidden', name='userID', value=user)
        |  category:
        select(name='category')
            option(value='Food') Food
            option(value='Clothing') Clothing
            option(value='Transport') Transport
            option(value='School') School
        |  cost:
        input(type='number', name='cost')
        |  date:
        input(type='date', name='date')
        |  description:
        input(type='text' name='description')
        input(type='submit', value='upload')


    if purchases.length === 0
        p This user has no purchases recorded
    else
        each category in categories
            h2 #{category}

            table(style='width:60%', border='1')
                tr
                    th Amount
                    th Description
                    th Date
                each purchase in purchases
                    if (category === purchase.category)
                        tr
                            -
                                let date = purchase.date;
                                date = date.substr(0,10)
                            td  $ #{purchase.cost}
                            td #{purchase.description}
                            td #{date}
                            td
                                //form(action='/purchases/update/', method='post')
                                    //input(type='submit', value='update')
