extends layout

block content

    h1 #{title}
    h3 Welcome #{user}!
    if purchases.length === 0
        p This user has no purchases recorded
    else
        table(style='width:60%', border='1')
            tr
                th Category
                th Amount
                th Description
                th Date
            each purchase in purchases
                -
                    var date = purchase.date
                    date = date.substr(0,10)
                tr
                    td #{purchase.category}
                    td #{purchase.cost}
                    td #{purchase.description}
                    td #{date}

